<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Administrativni Panel</h1>
        <button class="back-button" onclick="location.href='/'">Natrag na početnu</button>
    </header>
    <main>
        <section>
            <h2>Opcije</h2>
            <ul>
                <li><a href="/upravljanje_korisnicima">Upravljanje Korisnicima</a></li>
                <li><a href="/upravljanje_proizvodima">Upravljanje Proizvodima</a></li>
                <li><a href="/upravljanje_narudzbama">Upravljanje Narudžbama</a></li>
                <li><a href="/statistike">Pregled Statistika</a></li>
                <li><a href="/upravljanje_popustima">Upravljanje Popustima</a></li>
            </ul>
        </section>
    </main>
</body>
</html>
