<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proizvodi u kategoriji: {{ kategorija }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <button onclick="location.href='/'">Natrag na proizvode</button>
    <h2>Proizvodi u kategoriji: {{ kategorija }}</h2>
    <div id="proizvodi" class="proizvodi-grid">
        {% for proizvod in proizvodi %}
            <div class="proizvod-card">
                <h3>{{ proizvod[1] }}</h3>
                <p>Cijena: {{ proizvod[3] }} HRK</p>
                <p>Opis: {{ proizvod[2] }}</p>
                <button onclick="location.href='/proizvod/{{ proizvod[0] }}'">Pogledaj detalje</button>
                <button onclick="dodajUKosaricu({{ proizvod[0] }})">Dodaj u košaricu</button>
                <button onclick="dodajUWishlist({{ proizvod[0] }})">Dodaj u Wishlist</button>
            </div>
        {% endfor %}
    </div>
    

    <!-- Navigacija za paginaciju -->
    <div class="pagination">
        {% if page > 1 %}
            <a href="/kategorija/{{ kategorija }}?page={{ page - 1 }}" class="pagination-button">Prethodna</a>
        {% endif %}

        {% for p in pagination %}
            {% if p == '...' %}
                <span class="pagination-ellipsis">...</span>
            {% elif p == page %}
                <span class="pagination-button active">{{ p }}</span>
            {% else %}
                <a href="/kategorija/{{ kategorija }}?page={{ p }}" class="pagination-button">{{ p }}</a>
            {% endif %}
        {% endfor %}

        {% if page < total_pages %}
            <a href="/kategorija/{{ kategorija }}?page={{ page + 1 }}" class="pagination-button">Sljedeća</a>
        {% endif %}
    </div>

    <script>
        function dodajUKosaricu(proizvodId) {
            fetch('/api/kosarica', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    proizvodId: proizvodId,
                    kolicina: 1  // Možete promijeniti ovu vrijednost prema potrebi
                })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch((error) => {
                console.error('Greška:', error);
            });
        }

        function dodajUWishlist(proizvodId) {
            fetch('/wishlist/dodaj', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ proizvod_id: proizvodId })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message); // Prikaz poruke korisniku
            })
            .catch(error => {
                console.error('Greška:', error);
                alert('Došlo je do greške pri dodavanju proizvoda.');
            });
        }
    </script>
</body>
</html>
