<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>Košarica</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Narudžba</h1>
        <button onclick="location.href='/'">Natrag na proizvode</button>
        <form method="POST">
            <h3>Proizvodi u košarici:</h3>
            <ul>
                {% for proizvod in proizvodi %}
                <li>{{ proizvod[1] }} - {{ proizvod[3] }} x {{ proizvod[2] }} HRK</li>
                {% endfor %}
            </ul>
            <p>Ukupna cijena: {{ ukupna_cijena }} HRK</p>
        
            <label for="nacin_isporuke">Način isporuke:</label>
            <select name="nacin_isporuke" id="nacin_isporuke" required>
                {% for nacin in nacini_isporuke %}
                <option value="{{ nacin[0] }}">{{ nacin[1] }} ({{ nacin[3] }} HRK)</option>
                {% endfor %}
            </select>

            <label for="nacin_placanja">Način plaćanja:</label>
            <select name="nacin_placanja" id="nacin_placanja" required>
                <option value="kartica">Kartica</option>
                <option value="pouzeće">Pouzeće</option>
            </select>
        
            <label for="kupon">Kupon (opcionalno):</label>
            <input type="text" id="kupon" name="kupon">
        
            <button type="submit">Kreiraj narudžbu</button>
        </form>
        
</body>
</html>
