<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>Košarica</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Narudžba</h1>
        <button onclick="location.href='/'">Natrag na proizvode</button>
        <form method="POST">
            <h3>Proizvodi u košarici</h3>
            <ul>
                {% for proizvod in proizvodi %}
                <li>{{ proizvod[1] }} - {{ proizvod[2] }} HRK x {{ proizvod[3] }}</li>
                {% endfor %}
            </ul>
        
            <h3>Ukupna cijena: {{ ukupna_cijena }} HRK</h3>
        
            <h3>Odabir načina isporuke</h3>
            <select name="nacin_isporuke">
                {% for nacin in nacini_isporuke %}
                <option value="{{ nacin.id }}">{{ nacin.naziv }} - {{ "%.2f"|format(nacin.cijena) }} HRK</option>
                {% endfor %}
            </select>
            <h3>Odabir načina plaćanja</h3>
            <select name="nacin_placanja">
                <option value="kartica">Kartica</option>
                <option value="pouzeće">Pouzećem</option>
            </select>
            <label for="kupon">Kupon (ako imate):</label>
            <input type="text" id="kupon" name="kupon" placeholder="Unesite kod kupona">
            <input type="hidden" name="ukupna_cijena" value="{{ ukupna_cijena }}">
        
            <button type="submit">Kreiraj narudžbu</button>
        </form>
        
</body>
</html>