<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upravljanje korisnicima</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Upravljanje korisnicima</h1>
        <button class="back-button" onclick="location.href='/'">Natrag na početnu</button>
        <button class="back-button" onclick="location.href='/admin_panel'">Natrag na Administraciju</button>
    </header>

    <div class="actions">
        <button onclick="window.location.href='/dodaj_korisnika'">Dodaj korisnika</button>
        <form method="GET" action="{{ url_for('upravljanje_korisnicima') }}">
            <input type="text" name="ime" placeholder="Pretraži po imenu" value="{{ request.args.get('ime', '') }}">
            <input type="text" name="prezime" placeholder="Pretraži po prezimenu" value="{{ request.args.get('prezime', '') }}">
            <select name="tip_korisnika">
                <option value="">Svi tipovi</option>
                <option value="kupac" {% if request.args.get('tip_korisnika') == 'kupac' %}selected{% endif %}>Kupac</option>
                <option value="admin" {% if request.args.get('tip_korisnika') == 'admin' %}selected{% endif %}>Admin</option>
            </select>
            <button type="submit">Filtriraj</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Email</th>
                <th>Tip korisnika</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            {% for korisnik in korisnici %}
            <tr>
                <td>{{ korisnik[0] }}</td>
                <td>{{ korisnik[1] }}</td>
                <td>{{ korisnik[2] }}</td>
                <td>{{ korisnik[3] }}</td>
                <td>{{ korisnik[4] }}</td>
                <td>
                    <button onclick="window.location.href='/azuriraj_korisnika/{{ korisnik[0] }}'">Ažuriraj</button>
                    <button onclick="obrisiKorisnika({{ korisnik[0] }})">Obriši</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
function obrisiKorisnika(korisnikId) {
    if (confirm('Jeste li sigurni da želite obrisati ovog korisnika?')) {
        fetch(`/obrisi_korisnika/${korisnikId}`, {
            method: 'POST'
        })
        .then(response => response.json()) 
        .then(data => {
            
            if (data.status === 'success') {
                alert(data.message);  
                location.reload();  
            } else {
                alert(data.message);  
            }
        })
        .catch(error => {
            console.error('Greška:', error);
            alert('Došlo je do greške prilikom brisanja korisnika.');
        });
    }
}

    </script>

</body>
</html>
