<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>Upravljanje Popustima</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Upravljanje Popustima</h1>
        <button class="back-button" onclick="location.href='/'">Natrag na početnu</button>
        <button class="back-button" onclick="location.href='/admin_panel'">Natrag na Administraciju</button>
    </header>
    <button onclick="window.location.href='/dodaj_popust'">Dodaj Popust</button>
    <table>
        <thead>
            <tr>
                <th>ID Popusta</th>
                <th>Proizvod</th>
                <th>Postotak Popusta</th>
                <th>Datum Početka</th>
                <th>Datum Završetka</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            {% for popust in popusti %}
            <tr>
                <td>{{ popust[0] }}</td>
                <td>{{ popust[1] }}</td>
                <td>{{ popust[2] }}</td>
                <td>{{ popust[3] }}</td>
                <td>{{ popust[4] }}</td>
                <td>
                    <button onclick="location.href='/azuriraj_popust/{{ popust[0] }}'">Ažuriraj</button>
                    <button onclick="obrisiPopust({{ popust[0] }})">Obriši</button>
                </td>
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <script>
        function obrisiPopust(popustId) {
            if (confirm("Jeste li sigurni da želite obrisati ovaj popust?")) {
                fetch(`/obrisi_popust/${popustId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => {
                    if (response.ok) {
                        alert("Popust je uspješno obrisan!");
                        location.reload(); 
                    } else {
                        response.json().then(data => {
                            alert(data.message || "Dogodila se greška prilikom brisanja popusta.");
                        });
                    }
                })
                .catch(error => {
                    console.error("Greška:", error);
                    alert("Dogodila se greška prilikom brisanja popusta.");
                });
            }
        }
    </script>
    
</body>
</html>
